<% layout('/layout/boilerplate') %>
<h1 class="text-center" style="color: white;" >Register</h1>
<div class="col-md-6 mx-auto">
<form action="/register" method="post" class="needs-validation" novalidate>
    <div class="my-3">
        <label class="form-label" for="username" style="color: white;">Username</label>
        <input class="form-control" type="text" id="username" name="username" required>
        <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Please enter a username
          </div>
    </div>
    <div class="my-3">
        <label class="form-label" for="email" style="color: white;">Email</label>
        <input class="form-control" type="email" id="email" name="email" required>
        <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Please enter an email
          </div>
    </div>
    <div class="my-3">
        <label class="form-label" for="password" style="color: white;">Password</label>
        <input class="form-control" type="password" id="password" name="password" required>
        <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Please enter a password
          </div>
    </div>
    <button class="btn btn-info my-3">Register</button>
</form>
</div>
<script src="/formValidation.js"></script>