<% layout('/layout/boilerplate') %>

  <div class="container d-flex justify-content-center align-item-center">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card" style=" border-radius: 15px; background-color:#26273b;">
          <img src="/images/registration.jpg" style=" border-radius: 15px;" alt="" class="card-img-top">
        <h1 class="text-center mt-3" style="color: white;">Register</h1>

        <form action="/register" method="post" class="needs-validation" novalidate>
          <div class="my-1 mx-3">
            <label class="form-label" for="username" style="color: white;">Username</label>
            <input class="form-control" type="text" id="username" name="username" required>
            <div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              Please enter a username
            </div>
          </div>
          <div class="my-1 mx-3">
            <label class="form-label" for="email" style="color: white;">Email</label>
            <input class="form-control" type="email" id="email" name="email" required>
            <div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              Please enter an email
            </div>
          </div>
          <div class="my-1 mx-3">
            <label class="form-label" for="password" style="color: white;">Password</label>
            <input class="form-control" type="password" id="password" name="password" required>
            <div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              Please enter a password
            </div>
          </div>
          <button class="btn btn-info m-3">Register</button>
        </form>
      </div>
      </div>
    </div>
  </div>


  <script src="/formValidation.js"></script>