<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    
    <title>Post-it</title>
    <link rel = "icon" href = "images/bag.png" 
            type = "image/x-icon">    
</head>
<body class="d-flex flex-column" style="min-height: 100vh; background-color: #141526;"> 
    <%- include('../partials/navbar_index') %>    
    <main class="container mt-3">
        <%- include('../partials/flash') %>
        <%- body %> 
    </main>
    <%- include('../partials/footer') %> 
    <script src="/js/bootstrap.js"></script>
</body>
</html>